.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom-width:1px solid rgb(228, 228, 228) ;
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin: 0 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
    width: 20px;
}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}
.search-button{
    height: 38px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}
.search-button .tooltip{
    position: absolute;
    background-color: gray;
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events:none ;
}

.search-button:hover .tooltip{
    opacity: 1;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    background-color: rgb(248,248,248, green, blue);
    border-radius: 20px;
    border: none;
}
.voice-search-icon{
    height: 24px;
    margin-top: 4px;
}
.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-counter{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: #fff;
    font-family: Roboto,Arial;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 10px;
}